<!DOCTYPE html>
<html ng-app ="myModule">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="controller.js"></script>
</head>

<body>
    <div ng-controller="myController">
        <div >  <!--without ng-app expression print as it is eithout processing/ -->
            Name : {{ student.name }} <br> <input type="text" ng-model="student.name" />
        </div>
        <div>
            
            Division : {{ student.division }} &emsp; &nbsp; <input type="text"  ng-model="student.division" />
        </div>
        <div>
            Subject : {{ student.subject }}  &emsp;&emsp;<input type="text" ng-model="student.subject" />
        </div>
        <div>
            Year : {{ student.year }} &emsp;&emsp; <input type="text" ng-model="student.year" />
        </div>
        <div>
            Course : {{ student.course }}  &emsp;&emsp;<input type="text" ng-model="student.course" />
        </div>  
    </div>
</body>
</html>
