<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body ng-app="">
    hide<input type="checkbox" ng-model="MyVar">
    show <input type="checkbox" ng-model="mtvar" name="" id="">

    <div ng-hide="MyVar" ng-show="mtvar">
        <h1>helloo</h1>
    </div>

    <h1></h1>
    
</body>
</html>