<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body ng-app="myapp" ng-controller="mycon">
    <div>
        Name : <input type="checkbox" ng-model="cheked">

        <table border="">
            <th>Roll num</th>
            <th ng-hide="cheked">Name</th>
            <th>year</th>
            <th>CSA</th>
            <th>WT</th>
            <th>Total</th>
            <th>Average</th>

            <tr  ng-repeat="x in student">
                <td>{{x.Roll}}</td>
                <td ng-hide="cheked">{{x.name}}</td>
                <td>{{x.year}}</td>
                <td>{{x.csa}}</td>
                <td>{{x.wt}}</td>
                <td>{{x.csa + x.wt}}</td>
            </tr>

        </table>
        
    </div>
    <script>
        var app = angular.module("myapp",[])
        .controller("mycon",($scope) => {
            $scope.student = [
                {Roll:2261,name:'Mitul',year:2,csa:20,wt:50},
                {Roll:2261,name:'keyur',year:2,csa:40,wt:50},
                {Roll:2261,name:'vaibhav',year:2,csa:20,wt:50},
                {Roll:11,name:'rahul',year:2,csa:20,wt:50},
            ]
        })
    </script>
</body>
</html>